<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeppelin's World</title>
     
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)





</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-text">Zeppelin's World of Wonderful</h1>
                <a href="https://www.facebook.com/ZeppelinCashion/">
                    <img src="~/images/Zeppelin Profile Picture.jpg" style="float:right" height="50" width="50" />
                </a>
                    <img src="~/images/David Profile Picture.jpg" style="float:right" height="50" width="50" />
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Core</a> -->
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Blimps">Blimps</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Baking">Baking</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Canning">Canning</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Cooking">Cooking</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Fishing">Fishing</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Messaging">Messaging</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Weather">Weather</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="WMD">WMD</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="height:60px">
            <p></p>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Copyright 2016 - David G. Cashion</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
