@{
    ViewBag.Title = "Weather";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Eventually, this page will provide local weather information and</p>
<p>Placefiles for Gibson Ridge Products</p>
